;; shadow-cljs configuration
{#_#_:deps {:aliases [:cljs]}
 :source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dev-http {8020 "docs"}

 :dependencies [[re-frame "1.0.0-rc2"]
                [reagent "1.0.0-alpha2"]]

 :builds {:app
          {:target :browser
           :output-dir "docs/js"
           :asset-path "/js"
           :modules {:main {:init-fn tailwind.app/init}}}}}
